<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs'); %>

<body>
<section>
  <h1>Resultaten</h1>
  <form action="/update" method="post">

      <h2>Filters</h2>
      <div class="filters">
        <div class="test">
          <p>X</p>
          <p class="box"> <%= geslacht %> </p>
        </div>

<!-- <input type="text" class="test" value="<%= geslacht %>" placeholder="<%= geslacht %>"> -->
        <div class="test">
          <p>X</p>
          <p class="box"> <%= leeftijd %> jaar</p>
        </div>

        <div class="test">
          <p>X</p>
          <p class="box"> <%= afstand %> km</p>
        </div>

        <div class="test">
          <p>X</p>
          <p class="box"> roken:  <%= roken %> </p>
        </div>

        <div class="test">
          <p>X</p>
          <p class="box"> kids: <%= kinderen %> </p>
        </div>

        <div class="test">
          <p>X</p>
          <p class="box"> <%= lengte %> cm </p>
        </div>

        <button class="aanpassen">Pas aan</button>


      </div>


  </section>
</form>
</body>

<script type="text/javascript" src="/static/js/script.js">

</script>

</html>
