<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs'); %>

<body>
<section>
  <h1>Resultaten</h1>
  <!-- <form action="/update" method="post"> -->

      <h2>Filters</h2>
      <div class="filters">
        <div class="result">
          <p>X</p>
          <p> <%= data.geslacht %> </p>
        </div>

        <div class="result">
          <p>X</p>
          <p> <%= data.leeftijd %> jaar</p>
        </div>

        <div class="result">
          <p>X</p>
          <p> <%= data.afstand %> km</p>
        </div>

        <div class="result">
          <p>X</p>
          <p> roken:  <%= data.roken %> </p>
        </div>

        <div class="result">
          <p>X</p>
          <p> kids: <%= data.kinderen %> </p>
        </div>

        <div class="result">
          <p>X</p>
          <p> <%= data.lengte %> cm </p>
        </div>

        <a href="/adjust-filters/ <%= id %>">AANPASSEN</a>

        <!-- <button class="adjustFilters">Pas aan</button> -->


      </div>


  </section>
<!-- </form> -->
</body>

<script type="text/javascript" src="/static/js/script.js">

</script>

</html>
