<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs'); %>

<body>
<section>
  <h1>Resultaten</h1>

      <h2>Filters</h2>
      <div class="filters">
        <button class="test">
          <p>X</p>
          <p class="box"> <%= geslacht %> </p>
        </button>

<!-- <input type="text" class="test" value="<%= geslacht %>" placeholder="<%= geslacht %>"> -->
        <button class="test">
          <p>X</p>
          <p class="box"> <%= leeftijd %> jaar</p>
        </button>

        <button class="test">
          <p>X</p>
          <p class="box"> <%= afstand %> km</p>
        </button>

        <button class="test">
          <p>X</p>
          <p class="box"> roken:  <%= roken %> </p>
        </button>

        <button class="test">
          <p>X</p>
          <p class="box"> kids: <%= kinderen %> </p>
        </button>

        <button class="test">
          <p>X</p>
          <p class="box"> <%= lengte %> cm </p>
        </button>

        <a href="" class="aanpassen">Pas keuze aan</a>
        <!-- <button class="aanpassen">
          <p>Pas keuze aan</p>
        </button> -->

      </div>

      <script type="text/javascript" src="/static/js/script.js">

      </script>
  </section>

</body>

</html>
